<!DOCTYPE html>
<html>
<head>
	<title>File Server</title>

	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<b>Category</b>
	<select id="category">
	</select> <br>

	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="uploadfile" />
		<input type="hidden" name="directory" value="default"/>
		<input type="submit" value="upload"/>
	</form> <br>

	<b>List</b> <br>
	<span id="list"></span>

	<script type="text/javascript">
		var port = 8888;
		var server = 'http://localhost:' + port;
		var socket = io.socket(server);

		(function ()
		{
			socket.emit('reqAllDirs');
		})();

		var getAllFiles = function (dir)
		{
			socket.emit('reqAllFiles', {directory: dir});
		}
		
		socket.on('resAllDir', function (data)
		{
			var dirs = data.directorys;

			$('#category').empty();

			for (var i = 0; i < dirs.length; ++i)
			{
				$('#category')
				.append('<option value="'+ dirs[i] + '">' + users[i] + "</option>");
			}

			if (dirs.length > 0)
			{
				getAllFiles(dirs[0]);
			}
		});

		socket.on('resAllFiles', function (data)
		{
			var files = data.files;

			$('#list').empty();

			for (var i = 0; i < files.length; ++i)
			{
				$('#list').append(files[i] + '<br>');
			}
		});
	</script>
</body>
</html>

